aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1758634638/work
asttokens==3.0.0
attrs==25.3.0
backports.tarfile @ file:///home/conda/feedstock_root/build_artifacts/backports.tarfile_1733325779670/work
bnlearn==0.12.0
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_55txi4fy1u/croot/bottleneck_1731058642212/work
Brotli @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_f7i0oxypt6/croot/brotli-split_1736182464088/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1754131455332/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1746102850263/work
causal-learn @ file:///home/conda/feedstock_root/build_artifacts/causal-learn_1750623043903/work
cdt==0.6.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1759648874697/work/certifi
cffi @ file:///opt/miniconda3/conda-bld/cffi_1760098028874/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1754767332901/work
clarabel @ file:///opt/miniconda3/conda-bld/clarabel_1757517235280/work
cleo @ file:///home/conda/feedstock_root/build_artifacts/cleo_1734693717670/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm==0.2.3
contourpy==1.3.3
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1733564795535/work
cvxpy==1.4.4
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1758033469095/work
dataclasses-json==0.6.7
datazets==1.1.3
decorator==5.2.1
df2onehot==1.0.8
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1752822973799/work
distro==1.9.0
docx2txt==0.9
dowhy @ file:///home/conda/feedstock_root/build_artifacts/dowhy_1752408693999/work
dulwich @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_67hrkvzz_y/croot/dulwich_1736265638497/work
ecos==2.0.14
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing==2.2.1
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-fastjsonschema_1755304154/work/dist
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1759948064277/work
findpython @ file:///home/conda/feedstock_root/build_artifacts/findpython_1741582825328/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1759187069296/work
frozenlist==1.7.0
fsspec==2025.9.0
funcsigs==1.0.2
gmpy2 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_51391juwln/croot/gmpy2_1738085477864/work
GPUtil==1.4.0
graphviz==0.20.3
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1745526374115/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
httpx-sse==0.4.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
installer @ file:///home/conda/feedstock_root/build_artifacts/python-installer_1733237321392/work
ipython==9.6.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
ismember==1.1.0
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1733325873251/work
jaraco.context @ file:///home/conda/feedstock_root/build_artifacts/jaraco.context_1733382590553/work
jaraco.functools @ file:///home/conda/feedstock_root/build_artifacts/jaraco.functools_1755584707998/work
jedi==0.19.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
jiter==0.11.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1756321760188/work
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==3.0.0
jupyterlab_widgets==3.0.15
keyring @ file:///Users/runner/miniforge3/conda-bld/keyring_1735210234218/work
kiwisolver @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cc2l_z_0ri/croot/kiwisolver_1737039586949/work
langchain==0.3.27
langchain-community==0.3.24
langchain-core==0.3.76
langchain-ollama==0.3.3
langchain-openai==0.3.21
langchain-text-splitters==0.3.11
langgraph==0.3.34
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.74
langsmith==0.3.45
lingam==1.11.0
llvmlite==0.45.1
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1759055168238/work
marshmallow==3.26.1
matplotlib==3.10.6
matplotlib-inline==0.1.7
ml_dtypes==0.5.3
momentchi2==0.1.8
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1756855862419/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
msgpack @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0d73gp34a_/croot/msgpack-python_1750958625811/work
multidict==6.6.4
munkres==1.1.4
mypy_extensions==1.1.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1749078300/work
numba==0.62.1
numdifftools==0.9.41
numexpr @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_766kpwgy17/croot/numexpr_1755766476118/work
numpy==2.3.3
ollama==0.6.0
openai==1.109.1
opt_einsum==3.4.0
orjson==3.11.3
ormsgpack==1.10.0
osqp @ file:///opt/miniconda3/conda-bld/osqp_1758794416584/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==2.2.3
parso==0.8.5
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pbs-installer @ file:///home/conda/feedstock_root/build_artifacts/pbs-installer_1760137691708/work
pexpect==4.9.0
pgmpy==0.1.25
pillow @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_94x67n90dt/croot/pillow_1752524540258/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1739984581450/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1759953252/work
ply==3.11
poetry @ file:///Users/runner/miniforge3/conda-bld/poetry_1754373053855/work
poetry-core @ file:///home/conda/feedstock_root/build_artifacts/poetry-core_1746390087282/work
progressbar2==4.5.0
prompt_toolkit==3.0.52
propcache==0.3.2
psutil==7.1.0
psy==0.0.1
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==19.0.1
pybind11==3.0.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.11.7
pydantic-settings==2.11.0
pydantic_core==2.33.2
pydot==1.2.4
pygam==0.10.1
Pygments==2.19.2
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1758436411/work
pypdf==5.4.0
pypickle==2.0.1
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1733710025763/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.1.1
python-louvain==0.16
python-ulid==3.1.0
python-utils==3.9.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML==6.0.3
RapidFuzz @ file:///opt/miniconda3/conda-bld/rapidfuzz_1759243093900/work
redis==5.0.7
redisvl==0.8.0
regex==2025.9.18
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1755614211359/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1733734787568/work
scikit-learn @ file:///opt/miniconda3/conda-bld/scikit-learn_1758620833317/work
scipy==1.15.3
scs @ file:///opt/miniconda3/conda-bld/scs_1759307753293/work
seaborn==0.13.2
semopy==2.3.11
setgraphviz==1.0.3
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
skrebate==0.62
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
SQLAlchemy==2.0.43
stack-data==0.6.3
statsmodels @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_e5zr93m722/croot/statsmodels_1753363819610/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1745946051654/work
tabulate==0.9.0
tenacity==9.1.2
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tiktoken==0.11.0
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1760014679/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1749127122469/work
torch==2.8.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets==5.14.3
trove-classifiers @ file:///home/conda/feedstock_root/build_artifacts/trove-classifiers_1757677683180/work
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
unicodedata2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b99hn8t9lq/croot/unicodedata2_1736541774279/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1753096232982/work
wcwidth==0.2.14
widgetsnbextension==4.0.14
xattr @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_bavojles8t/croot/xattr_1744011740823/work
xxhash==3.5.0
yarl==1.20.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.23.0
